* {
  font-family: "SF Pro Display";
  /* border: red solid 1px; */
}

@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/SFPRODISPLAYMEDIUM.OTF")
  
}

.wrapper {
  max-width: 1152px;
  height: 700px;
padding: none;
margin: none;
  color: #ffffff;
  background-color: #161b30;
}

.header {
  display: flex;
  align-items: center;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 23px;
  height: 65px;
  width: 1152px;
  background-color: #2a2f45;
  cursor: pointer;
}

.head-logo {
  width: 30px;
  height: 30px;
  background-image: url("images/logo.svg");
  background-size: cover;
  position: static;
  background-size: auto;
  background-position: 65px 70px;
}

.head-name {
  width: 109px;
  height: 19px;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-left: 12px;
}

.city-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-form-text {
  margin-top: 80px;
  width: 510px;
  height: 56px;
  background: #2a2f45;
  border-radius: 2px;
  color: white;
  border: none;
  
}

.autocomplete{
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background: white;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 240px;
  height: auto;
  overflow: auto;
}

.autocomplete__item{
  padding: 10px;
}
.autocomplete__item:hover {
  background: rgb(180,180,180);
  cursor: pointer;
  transition: cubic-bezier(1, 0, 0, 1) .3s all;

}


.box-help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-help-city {
  width: 170px;
  height: 38px;

  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.box-help-favor {
  width: 244px;
  height: 38px;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.weather-main {
  background: radial-gradient(
    80.36% 80.36% at 50% 0%,
    #5a607c 0%,
    #161b30 100%
  );
}

.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-box-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.button-back {
  display: flex;
  flex-direction: row;
  width: 81px;
  height: 24px;
  background: none;
  border: none;
  padding-top: 27px;
  padding-left: 34px;
}

.button-back-icon {
  min-width: 10px;
  min-height: 17px;
  background-image: url("images/coolicon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button-back-text {
  border: none;
  color: #8a91ab;
  width: 45px;
  height: 18px;
  margin-left: 19px;
  font-family: SF Pro Display;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.button-to-favor {
  width: 24px;
  background: none;
  border: none;
position: relative;
  background-image: url("images/Bookmark.svg");
  padding-top: 24px;
  padding-right: 34px;
  background-repeat: no-repeat;
  background-position: 0%;
}

.button-to-favor__done {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-image: url("images/Bookmark_use.svg");
}

.weather-city {
  font-family: SF Pro Display;
  font-size: 56px;
  
  
  padding-top: 31px;
}

.weather-comment{
  padding-top: 16px;
}

.weather-box-temp-num {
  font-family: SF Pro Display;
  font-size: 130px;
  font-weight: 600;
  line-height: 144px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(180deg, #FFFFFF 11.65%, rgba(255, 255, 255, 0) 139.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}

.weather-pressure {
  padding-top: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.weather-pressure_icon{
  width: 24px;
  height: 24px;
  background-image: url("images/barometer.svg")

}

.weather-pressure_text{font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;}

  .weather-sunset{
    padding-top: 32px;


font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 110.7%;
color: #8A91AB;
  }

.weather-box-temp {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:0;
}

.weather-box-temp-icon {
  width: 191px;
  height: 191px;
  background-image: url("images/temp-icon.svg");
}

.favor-weather-main {
  padding-top: 55px;
    padding-left: 140px;
    padding-right: 140px;
    display: grid;
    grid-column-gap:35px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, [col] 1fr);
  
}

.favor-weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  height: 190px;
  background: #292E44;
  border-radius: 6px;
  cursor: pointer;
}

.favor-weather-box_name {
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;

  width: 100%;
  height: 15px;
  padding-top: 23px;
}

.favor-weather-box_temp {
  width: 74px;
  height: 44px;
  font-family: SF Pro Display;
  font-size: 40px;
  font-weight: 500;
  padding-top: 12px;
  
  
  text-align: center;
}

.favor-weather-box_icon {
  width: 78px;
  height: 78px;
  padding-top: 2px;
}


@media screen and (max-width: 800px) {
  .wrapper {
    background-color: #161B30;
  }
  
  .header {
    width: 100%;
    background-color: #161B30;
  }
  
  .head-logo {
  }
  
  .head-name {
  }
  
  .city-form {
    
  }
  
  .city-form-text {
    margin-top: 20px;
    width: 95%;
    max-width: 335px;
    height: 56px;
    
    
  }
  
  .autocomplete{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 240px;
    height: auto;
    overflow: auto;
  }
  
  .autocomplete__item{
    padding: 10px;
  }
  .autocomplete__item:hover {
    background: rgb(180,180,180);
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .3s all;
  
  }
  
  
  .box-help {
    
  }
  
  .box-help-city {
    
  }
  
  .box-help-favor {
    
  }
  
  .weather-main {
    
  }
  
  .weather-box-temp {
    flex-direction: column;
    
  }

  .weather-box-temp-num {
    width: 244px;
    height: 133px;
    
  }

  .weather-box-temp-img {
width: 132px;
height: 132px;
  }
  
  .weather-box-button {
    
  }
  
  .button-back {
    
    
  }
  
  .button-back-icon {
    
  }
  
  .button-back-text {
    
  }
  
  
  
  .weather-city {
    
    font-size: 24px;
    
    padding-top: 50px;
  }

  .weather-comment{
    padding-top: 14px;
    font-size: 14px;

  }
  
  .weather-box-temp-num {
    
  }
  
  .weather-pressure {
    padding-top: 42px;
    
  }
  
  .weather-box-temp {
    
  }
  
  .weather-box-temp-icon {
    
  }
  
  .favor-weather-main {
    

    padding-top: 33px;
  padding-left: 10px;
  padding-right: 20px;
  
  grid-column-gap:19px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, [col] 1fr);
    
  }
  
  .favor-weather-box {
    
  }
  
  
  
  .favor-weather-box_temp {
    
  }
  
  .favor-weather-box_icon {
    
  }
}
